* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica Neue, Arial;
}

h1, h2 {
  color: rgba(38, 46, 135, 0.92);
}

h1 {    
  font-size: 45px;
  margin-bottom: 20px;
}

h2 {  
  font-size: 20px;
  margin-bottom: 15px;
}

.main-text {
  font-size: 20px;  
  text-align: justify;
  margin-bottom: 20px;
}

.display-name {
  font-size: 17px;
  text-align: center;
}